.movies {
  display: grid;
  grid-template-columns: repeat(auto-fit, 26%);
  justify-content: center;
  column-gap: 3%;
  row-gap: 15px;
}

.view-list {
  display: flex;
  flex-direction: column;
}

.movie.list {
  display: flex;
  gap: 10px;
  border-radius: 5px;
  padding-top: 10px;
  align-items: center;
}
.movie.list .movie-cover{
  box-shadow: none;
}
.movie.list img {
  width: 100px;
  height: 130px;
  padding:10px;
}
.movie.list:hover{
  background-color:rgba(128, 128, 128,0.2);
 
}
.movie-cover-inner {
  position: relative;
}

.movie-cover {
  width: 100%;
  aspect-ratio: 1/1.5;
  border-radius: 10px;
}
.movie-cover:hover{
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

.movie-info {
  font-size: "Neue";
  padding: 10px 0px;
  color: var(--text-color);
}

.title {
  font-size: 16px;
  font-weight: bold;
}

.episode,
.release-date {
  font-size: 14px;
  color: inherit;
}

